.example-full-width {
    width: 100%;
  }
  .title{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
button{
  border: none;
  background-color: white;
  cursor: pointer;
}
