<mat-form-field appearance="legacy">
    <mat-label>Nova Senha</mat-label>
    <input matInput placeholder="digite sua senha" type="password" [(ngModel)]="password">
</mat-form-field>

<mat-form-field appearance="legacy">
    <mat-label>Confirmação</mat-label>
    <input matInput placeholder="confirme sua senha" type="password" [(ngModel)]="cpassword">
</mat-form-field>

<button mat-raised-button color="primary" (click) = "trocaDeSenha()">Confirmar</button>
<button mat-raised-button color="primary" (click) = "clear()">Cancelar</button>