<mat-card-content *ngIf="divs == 1">
    <div class="title">
        <div>
            <h1 mat-dialog-title>Editar</h1>
        </div>
        <button (click) = "onNoClick()"><mat-icon>clear</mat-icon></button>
    </div>
    
    <div mat-dialog-content>
        <div class="edit">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Produto</mat-label>
                <input matInput placeholder="Ex. jeans" [(ngModel)]="produto">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Preço</mat-label>
                <input matInput placeholder="Ex. 19.90" [(ngModel)]="preco">
            </mat-form-field>

            <div mat-dialog-actions>
                <button mat-raised-button (click) = putItens()>Editar</button>
                <button mat-raised-button (click)="deleteItens()">Apagar</button>
            </div>
        </div>
    </div>
</mat-card-content>

<mat-card-content *ngIf="divs == 2">
    <div class="title">
        <div>
            <h1 mat-dialog-title>Novo produto</h1>
        </div>
        <button (click) = "onNoClick()"><mat-icon>clear</mat-icon></button>
    </div>
    <div mat-dialog-content>
        <div class="create">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Produto</mat-label>
                    <input matInput placeholder="Ex. tamanho P" [(ngModel)]="produto">
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Preço</mat-label>
                    <input matInput placeholder="Ex. 29.90" [(ngModel)]="preco">
                </mat-form-field>

                <app-dropdown [array]="grupos" [idField]="'idGrupo'" [textField]="'descricao'" [title]="'Grupo'" [(ngModel)]="selectedGroup1"></app-dropdown> 
                <app-dropdown [array]="subGrupos" [idField]="'idSub'" [textField]="'tipoProduto'" [title]="'Sub-grupo'" [(ngModel)]="selectedGroup2"></app-dropdown> 
                <app-dropdown [array]="colecoes" [idField]="'idColecao'" [textField]="'descricao'" [title]="'Colecao'" [(ngModel)]="selectedGroup3"></app-dropdown> 
                <div mat-dialog-actions>
                    <button mat-raised-button (click) = "postProduct()">Confirmar</button>
                    <button mat-raised-button (click)="onNoClick()">Cancelar</button>
                </div>

        </div>
    </div>
</mat-card-content>
