<div class="box">
  <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Pesquisa</mat-label>
      <input matInput type="text" placeholder="Digite um grupo" [(ngModel)] = 'search'>
      <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button>
    <button (click)="openPutModal(grupo)"><mat-icon>add_circle</mat-icon></button>
  </button>

  <table>
    <tr>
      <th>Número</th>
      <th>Descrição</th>
    </tr>
    <tr  *ngFor="let grupo of grupos  | filter : search">
        <td (click)="openPutModal(grupo)">{{grupo.idGrupo}}</td>
        <td (click)="openPutModal(grupo)">{{grupo.descricao}}</td>
    </tr>
  </table>
</div>