<mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Pesquisa</mat-label>
    <input matInput type="text" placeholder="Digite um sub-grupo" [(ngModel)] = 'search'>
    <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button>
  <button (click)="openModal(subGrupo)"><mat-icon>add_circle</mat-icon></button>
</button>

  <div class="subs" *ngFor="let subGrupo of subGrupos| filter : search">
      <button (click)="openModal(subGrupo)" class="card-hover"><mat-card><h1>{{subGrupo.group_description}} - {{subGrupo.tipoProduto}}</h1></mat-card></button>
  </div>  