<div class="title">
  <div>
    <h1 mat-dialog-title>Cadastrar Pedido</h1>
  </div>
  
  <button (click)="onNoClick()">
    <mat-icon>clear</mat-icon>
  </button>
</div>
<mat-tab-group>
  <mat-tab label="Cliente">

    <mat-form-field appearance="fill">
      <mat-label>Data Emissão</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="startDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data Entrega</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="lastDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cliente</mat-label>
      <input matInput placeholder="Digite o nome do cliente" type="text" [(ngModel)]="nomeFantasia" maxlength="100"
        minlength="2">
    </mat-form-field>

    <table *ngIf="nomeFantasia.length">
      <tr>
        <th>Nome</th>
      </tr>
      <tr *ngFor="let cliente of clientes  | filter : nomeFantasia">
        <ng-template [ngIf]="cliente.cnpj !=0">
          <td (click)="addNomeFantasia(cliente.nomeFantasia, cliente.idCliente)">{{cliente.nomeFantasia}}</td>
        </ng-template>
      </tr>
    </table>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Endereço</mat-label>
      <input matInput placeholder="Digite a rua do Endereço" type="text" [(ngModel)]="logradouro" maxlength="100"
        minlength="2">
    </mat-form-field>

    <table *ngIf="nomeFantasia.length ">
      <tr>
        <th>rua</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Estado</th>
      </tr>
      <tr *ngFor="let enderecos of Endereco | filter : logradouro">
        <td (click)="addEndereco(enderecos.logradouro, enderecos.idEndereco)">{{enderecos.logradouro}}</td>
        <td (click)="addEndereco(enderecos.logradouro, enderecos.idEndereco)">{{enderecos.bairro}}</td>
        <td (click)="addEndereco(enderecos.logradouro, enderecos.idEndereco)">{{enderecos.localidade}}</td>
        <td (click)="addEndereco(enderecos.logradouro, enderecos.idEndereco)">{{enderecos.uf}}</td>
      </tr>
    </table>

    <br>

    <mat-card-actions>
      <button class="card" mat-raised-button color="black" (click)="PedidoAdd()">Cadastrar</button>
    </mat-card-actions>
  </mat-tab>


  <mat-tab label="Pedido">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Produto</mat-label>
      <input matInput placeholder="Ex. jeans" [(ngModel)]="prod">
    </mat-form-field>

    <div *ngIf="prod.length">
      <div *ngFor="let produto of produtos | filter : prod">
          <h3 (click)="addProduto(produto.descricao, produto.idProduto)">{{produto.descricao}}</h3>
      </div>
      <div *ngFor="let produto of produtos">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Quantidade</mat-label>
        <input matInput placeholder="Ex. jeans" [(ngModel)]="qtd" minlength="2">
      </mat-form-field>

      <h3>Valor unitário : {{produto.preco}}</h3>
  </div>
  </div>
    
  </mat-tab>
</mat-tab-group>