<mat-card-content>
    <div class="title">
        <div>
            <h1 mat-dialog-title>Endereço</h1>
        </div>
        <button (click) = "onNoClick()"><mat-icon>clear</mat-icon></button>
    </div>
    <div mat-dialog-content>
        <div class="create">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>CEP</mat-label>
                    <input matInput placeholder="Ex. 89253520" [(ngModel)]="cep">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Rua</mat-label>
                    <input matInput placeholder="Ex. rua dos lindos" [(ngModel)]="rua">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Bairro</mat-label>
                    <input matInput placeholder="Ex. Jaraguá Esquerdo" [(ngModel)]="bairro">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Cidade</mat-label>
                    <input matInput placeholder="Ex. Jaraguá do Sul" [(ngModel)]="cidade">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Estado</mat-label>
                    <input matInput placeholder="Ex. Santa Catarina" [(ngModel)]="estado">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Complemento</mat-label>
                    <input matInput placeholder="Ex. Apartamento 2" [(ngModel)]="complemento">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Numero</mat-label>
                    <input matInput placeholder="Ex. 115" [(ngModel)]="numero">
                </mat-form-field>

                <div mat-dialog-actions>
                    <button mat-raised-button (click) = "postAddress()">Confirmar</button>
                    <button mat-raised-button (click)="onNoClick()">Cancelar</button>
                </div>

        </div>
    </div>
</mat-card-content>
